/* Adding CSS fonts and colours */

body {
    font-family: Roboto;
}

.header, .footer, .first-row {
    background-color: #1F2937;
}

.header-logo {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.blue-box {
    background-color: #3882F6;
    color: white;
}

.sign-up-top {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
}

.sign-up-bottom {
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-radius: 4px;
}


.info-header-text {
   font-size: 36px; 
   font-weight: 900;
   color:#1F2937;
}

.third-row {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
}

.author {
    font-weight: bold;
}

.footer {
    color: white;
}

.placeholder {
    background-color: grey;
    color: white;
}

.illustration {
    border: 2px solid #3882F6;
    width: 250px;
    height: 250px;
    border-radius: 18px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Arranging flex layout */

body {
display: flex;
flex-direction: column;
margin: 0;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px 400px 0px;
    align-items: center;
} 

.header-list {
    display: flex;
    gap: 50px;
}

.first-row {
    display: flex;
    padding: 80px 400px;
    justify-content: space-between;
} 

.first-row-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}


.main-text, .second {
    width: 450px;
    margin: 0;
}

.secondary-text.second {
    width: 450px;
    margin: 0;
}

.sign-up-top {
    padding: 5px 20px
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 450px;
}

.second-row {
    flex: 1;
    display: flex;
    padding: 40px 400px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    justify-content: center;
} 

.info-header-text {
    margin: 0;
    padding: 0;
}

.info-list {
    display: flex;
    gap: 40px;
}

.illustration {
    margin-bottom: 10px;
}


.third-row {
    flex: 1;
    display: flex;
    padding: 100px 400px;
    flex-direction: column;
    align-items: center;
} 

.quote {
    margin: 0;
}

.author {
    align-self: flex-end;
}


.fourth-row {
    flex: 1;
} 

.footer {
    flex: 1;
} 
